*, :before, :after {
  box-sizing: border-box;
}

html {
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  color: #333;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
}

.container {
  max-width: 294px;
  box-sizing: content-box;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  color: #28a745;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 32px;
  line-height: 1.3;
  display: flex;
}

.logo > span {
  color: #fff;
}

.logo > .icon {
  margin-right: 5px;
}

.btn {
  color: #fff;
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 31px 10px 41px;
  font-size: 16px;
  line-height: 1.6;
  display: inline-block;
}

.content-subtitle {
  margin-bottom: 5px;
  font-size: 18px;
}

.content-title {
  margin-bottom: 25px;
  font-size: 38px;
  font-weight: 300;
  line-height: 1.26;
}

.header {
  padding-top: 21px;
  padding-bottom: 21px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header > .container {
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.header .header_nav {
  margin-top: 10px;
}

.header_nav-list {
  flex-wrap: wrap;
  gap: 14px;
  display: flex;
}

.header_nav-list .header_nav-item > .header_nav-link {
  color: #fff;
}

.banner_home {
  background-image: url("banner-bg.c49a1688.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 144px;
  padding-bottom: 95px;
}

.banner_home .banner_home-content {
  text-align: center;
}

.banner_home .banner_home-content > .banner_home-title {
  color: #e9e9e9;
  font-size: 52px;
  font-weight: 300;
  line-height: 1.26;
}

.banner_home .banner_home-content > .banner_home-text {
  color: #e9e9e9;
  margin-top: 16px;
  font-size: 22px;
  line-height: 1.68;
}

.banner_home .banner_home-content > .btn {
  background-color: #28a745;
  border: none;
  margin: 27px auto 0;
  position: relative;
}

.banner_home .banner_home-content > .btn:before {
  width: 9px;
  height: 18px;
  content: "";
  background-image: url("arrow_btn_icon.35fe2aca.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: calc(50% - 9px);
  left: 27px;
}

.services {
  padding-top: 30px;
  padding-bottom: 31px;
}

.services .services-list {
  flex-wrap: wrap;
  gap: 18px;
  display: flex;
}

.services .services-list .services-item {
  text-align: center;
}

.services .services-list .services-item > .services-icon {
  width: 64px;
  height: 64px;
  background-color: #28a745;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.services .services-list .services-item > .services-title {
  margin-top: 9px;
}

.services .services-list .services-item > .services-text {
  margin-top: 15px;
}

.about_us {
  background-color: #28a745;
}

.about_us .about_us-content {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media only screen and (min-width: 480px) {
  .about_us .about_us-content > .container {
    max-width: calc(100% - 60px);
  }
}

.about_us .about_us-content .content-text {
  margin-bottom: 14px;
}

.activities {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 48px;
}

.activities .content-subtitle {
  margin-bottom: 15px;
}

.activities .content-title {
  margin-bottom: 35px;
}

.activities .activities-list {
  flex-flow: column wrap;
  align-content: center;
  gap: 7px;
  margin-top: 35px;
  display: flex;
}

.post-content {
  color: #fff;
  background-color: #0284d0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.post-content .btn {
  margin-top: 20px;
}

.team {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.team .content-text {
  margin-bottom: 37px;
}

.team-list {
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
}

.team-list .team-item > .team-name {
  margin-top: 15px;
  font-size: 23px;
  line-height: 1.2;
}

.team-list .team-item > .team-position {
  margin-top: 11px;
}

.callback {
  background-color: #f4f4f4;
}

.callback > .container {
  padding-top: 26px;
  padding-bottom: 30px;
}

.callback .callback-form {
  flex-flow: column wrap;
  display: flex;
}

.callback .callback-form > .input-text {
  background-color: #fff;
  border: 1px solid #f5f5f5;
  padding: 9px 5px;
}

.callback .callback-form > .input-text:first-child {
  margin-bottom: 36px;
}

.callback .callback-form > .btn {
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  margin-top: 53px;
}

.footer {
  background-color: #333;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .container > .footer_social-links {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  display: flex;
}

.footer .container > .copyright {
  color: #fff;
  margin-top: 9px;
}

/*# sourceMappingURL=index.a9af9abc.css.map */
