<section class="about_us">
  <div class="container">
    <div class="about_us-img">
      <picture>
        <source
          srcset="./images/about_us_img_desktop.jpg"
          media="(min-width: 1140px)"
        />
        <source
          srcset="./images/about_us_img_tablet_blus.jpg"
          media="(min-width: 489px)"
        />
        <source
          srcset="./images/about_us_img_tablet.jpg"
          media="(min-width: 480px)"
        />
        <source
          srcset="./images/about_us_img_mobile_blus.jpg"
          media="(min-width: 321px)"
        />
        <source
          srcset="./images/about_us_img_mobile.jpg"
          media="(min-width: 320px)"
        />
        <img
          srcset="./images/about_us_img_mobile.jpg"
          alt="about_us_img_mobile"
        />
      </picture>
    </div>
    <div class="about_us-content">
      <p class="content-subtitle">What you are looking for</p>
      <h2 class="content-title">We provide bespoke solutions</h2>
      <p class="content-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a href="#" class="btn">Read More</a>
    </div>
  </div>
</section>
