<section class="activities">
  <div class="container">
    <p class="content-subtitle">This is what we do</p>
    <h2 class="content-title">Business Cases</h2>
    <p class="content-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="activities-list">
      <li class="activities-item">
        <a href="#">
          <picture>
            <source
              srcset="./images/activities_img1_desktop.jpg"
              media="(min-width: 1360px)"
            />
            <source
              srcset="./images/activities_img1.jpg"
              media="(min-width: 320px)"
            />
            <img srcset="./images/activities_img1.jpg" alt="activities_img1" />
          </picture>
        </a>
      </li>
      <li class="activities-item">
        <a href="#">
          <picture>
            <source
              srcset="./images/activities_img2_desktop.jpg"
              media="(min-width: 1360px)"
            />
            <source
              srcset="./images/activities_img2.jpg"
              media="(min-width: 320px)"
            />
            <img srcset="./images/activities_img2.jpg" alt="activities_img2" />
          </picture>
        </a>
      </li>
      <li class="activities-item">
        <a href="#">
          <picture>
            <source
              srcset="./images/activities_img3_desktop.jpg"
              media="(min-width: 1360px)"
            />
            <source
              srcset="./images/activities_img3.jpg"
              media="(min-width: 320px)"
            />
            <img srcset="./images/activities_img3.jpg" alt="activities_img3" />
          </picture>
        </a>
      </li>
      <li class="activities-item">
        <a href="#">
          <picture>
            <source
              srcset="./images/activities_img4_desktop.jpg"
              media="(min-width: 1360px)"
            />
            <source
              srcset="./images/activities_img4.jpg"
              media="(min-width: 320px)"
            />
            <img srcset="./images/activities_img4.jpg" alt="activities_img4" />
          </picture>
        </a>
      </li>
      <li class="activities-item">
        <a href="#">
          <picture>
            <source
              srcset="./images/activities_img5_desktop.jpg"
              media="(min-width: 1360px)"
            />
            <source
              srcset="./images/activities_img5.jpg"
              media="(min-width: 320px)"
            />
            <img srcset="./images/activities_img5.jpg" alt="activities_img5" />
          </picture>
        </a>
      </li>
      <li class="activities-item">
        <a href="#">
          <picture>
            <source
              srcset="./images/activities_img6_desktop.jpg"
              media="(min-width: 1360px)"
            />
            <source
              srcset="./images/activities_img6.jpg"
              media="(min-width: 320px)"
            />
            <img srcset="./images/activities_img6.jpg" alt="activities_img6" />
          </picture>
        </a>
      </li>
      <li class="activities-item">
        <a href="#">
          <picture>
            <source
              srcset="./images/activities_img7_desktop.jpg"
              media="(min-width: 1360px)"
            />
            <source
              srcset="./images/activities_img7.jpg"
              media="(min-width: 320px)"
            />
            <img srcset="./images/activities_img7.jpg" alt="activities_img7" />
          </picture>
        </a>
      </li>
      <li class="activities-item">
        <a href="#">
          <picture>
            <source
              srcset="./images/activities_img8_desktop.jpg"
              media="(min-width: 1360px)"
            />
            <source
              srcset="./images/activities_img8.jpg"
              media="(min-width: 320px)"
            />
            <img srcset="./images/activities_img8.jpg" alt="activities_img8" />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
