<section class="callback">
  <div class="container">
    <div class="callback_img">
      <picture>
        <source
          srcset="./images/callback_desktop.jpg"
          media="(min-width: 769px)"
        />
        <source
          srcset="./images/callback_tablet.jpg"
          media="(min-width: 600px)"
        />
        <source
          srcset="./images/callback_mobile_plus.jpg"
          media="(min-width: 321px)"
        />
        <source
          srcset="./images/callback_mobile.jpg"
          media="(min-width: 320px)"
        />
        <img srcset="./images/callback_mobile.jpg" alt="callback" />
      </picture>
    </div>
    <div class="callback_content">
      <h2 class="content-title">Request Callback</h2>
      <form class="callback-form">
        <input
          class="input-text"
          type="text"
          name="name"
          id="name"
          placeholder="Enter your name"
        />
        <input
          class="input-text"
          type="text"
          name="email"
          id="email"
          placeholder="Enter email*"
        />
        <button class="btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
