<footer class="footer">
  <div class="container">
    <ul class="footer_social-links">
      <li class="footer_social-links-item">
        <a href="#">
          <svg class="icon" width="35" height="35">
            <use href="./images/svg-icons.svg#icon-fb_icon"></use>
          </svg>
        </a>
      </li>
      <li class="footer_social-links-item">
        <a href="#">
          <svg class="icon" width="35" height="35">
            <use href="./images/svg-icons.svg#icon-tw_icon"></use>
          </svg>
        </a>
      </li>
      <li class="footer_social-links-item">
        <a href="#">
          <svg class="icon" width="40" height="35">
            <use href="./images/svg-icons.svg#icon-yotube_icon"></use>
          </svg>
        </a>
      </li>
      <li class="footer_social-links-item">
        <a href="#">
          <svg class="icon" width="31" height="35">
            <use href="./images/svg-icons.svg#icon-in_icon"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="copyright">Copyright © 2021 - FinanceLedger</p>
  </div>
</footer>
