<header class="header">
  <div class="container">
    <a href="#" class="logo">
      <svg class="icon" width="37" height="32">
        <use href="./images/svg-icons.svg#icon-logo_icon"></use>
      </svg>
      Finance
      <span>Ledger</span>
    </a>
    <nav class="header_nav">
      <ul class="header_nav-list">
        <li class="header_nav-item">
          <a href="#" class="header_nav-link">Home</a>
        </li>
        <li class="header_nav-item">
          <a href="#" class="header_nav-link">About</a>
        </li>
        <li class="header_nav-item">
          <a href="#" class="header_nav-link">Cases</a>
        </li>
        <li class="header_nav-item">
          <a href="#" class="header_nav-link">Blog</a>
        </li>
        <li class="header_nav-item">
          <a href="#" class="header_nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
