<section class="post">
  <div class="container">
    <div class="post-img">
      <picture>
        <source
          srcset="./images/post_img_desktop.jpg"
          media="(min-width: 769px)"
        />
        <source
          srcset="./images/post_img_tablet.jpg"
          media="(min-width: 480px)"
        />
        <source
          srcset="./images/post_img_desktop.jpg"
          media="(min-width: 321px)"
        />
        <source
          srcset="./images/post_img_mobile.jpg"
          media="(min-width: 320px)"
        />
        <img srcset="./images/post_img_mobile.jpg" alt="post_img" />
      </picture>
    </div>
    <div class="post-content">
      <p class="content-subtitle">April 16 2020</p>
      <h2 class="content-title">Blog Post One</h2>
      <p class="content-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a href="#" class="btn">Read Our Blog</a>
    </div>
  </div>
</section>
