<section class="services">
  <div class="container">
    <ul class="services-list">
      <li class="services-item">
        <div class="services-icon">
          <svg class="icon" width="32" height="32">
            <use href="./images/svg-icons.svg#icon-university_icon"></use>
          </svg>
        </div>
        <h3 class="services-title">Investmant Banking</h3>
        <p class="services-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="services-item">
        <div class="services-icon">
          <svg class="icon" width="32" height="32">
            <use href="./images/svg-icons.svg#icon-book_reader_icon"></use>
          </svg>
        </div>
        <h3 class="services-title">Portfolio Manager</h3>
        <p class="services-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="services-item">
        <div class="services-icon">
          <svg class="icon" width="32" height="32">
            <use href="./images/svg-icons.svg#icon-pencil_alt_icon"></use>
          </svg>
        </div>
        <h3 class="services-title">Tax & Custudio</h3>
        <p class="services-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
