<section class="team">
  <div class="container">
    <p class="content-subtitle">Who we are</p>
    <h2 class="content-title">Our Professional Team</h2>
    <p class="content-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list">
      <li class="team-item">
        <div class="team_image">
          <img src="./images/john-doe.jpg" alt="Jane Doe" />
          <div class="overlay">
            <ul class="social-links">
              <li class="social-item">
                <a href="#">
                  <svg class="icon" width="35" height="35">
                    <use href="./images/svg-icons.svg#icon-fb_icon"></use>
                  </svg>
                </a>
              </li>
              <li class="social-item">
                <a href="#">
                  <svg class="icon" width="35" height="35">
                    <use href="./images/svg-icons.svg#icon-tw_icon"></use>
                  </svg>
                </a>
              </li>
              <li class="social-item">
                <a href="#">
                  <svg class="icon" width="40" height="35">
                    <use href="./images/svg-icons.svg#icon-yotube_icon"></use>
                  </svg>
                </a>
              </li>
              <li class="social-item">
                <a href="#">
                  <svg class="icon" width="31" height="35">
                    <use href="./images/svg-icons.svg#icon-in_icon"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <p class="team-name">John Doe</p>
        <p class="team-position">President</p>
      </li>
      <li class="team-item">
        <div class="team_image">
          <img src="./images/jane-doe.jpg" alt="Jane Doe" />
          <div class="overlay">
            <ul class="social-links">
              <li class="social-item">
                <a href="#">
                  <svg class="icon" width="35" height="35">
                    <use href="./images/svg-icons.svg#icon-fb_icon"></use>
                  </svg>
                </a>
              </li>
              <li class="social-item">
                <a href="#">
                  <svg class="icon" width="35" height="35">
                    <use href="./images/svg-icons.svg#icon-tw_icon"></use>
                  </svg>
                </a>
              </li>
              <li class="social-item">
                <a href="#">
                  <svg class="icon" width="40" height="35">
                    <use href="./images/svg-icons.svg#icon-yotube_icon"></use>
                  </svg>
                </a>
              </li>
              <li class="social-item">
                <a href="#">
                  <svg class="icon" width="31" height="35">
                    <use href="./images/svg-icons.svg#icon-in_icon"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <p class="team-name">Jane Doe</p>
        <p class="team-position">Vice President</p>
      </li>
      <li class="team-item">
        <div class="team_image">
          <img src="./images/steve-smith.jpg" alt="Steve Smith" />
          <div class="overlay">
            <ul class="social-links">
              <li class="social-item">
                <a href="#">
                  <svg class="icon" width="35" height="35">
                    <use href="./images/svg-icons.svg#icon-fb_icon"></use>
                  </svg>
                </a>
              </li>
              <li class="social-item">
                <a href="#">
                  <svg class="icon" width="35" height="35">
                    <use href="./images/svg-icons.svg#icon-tw_icon"></use>
                  </svg>
                </a>
              </li>
              <li class="social-item">
                <a href="#">
                  <svg class="icon" width="40" height="35">
                    <use href="./images/svg-icons.svg#icon-yotube_icon"></use>
                  </svg>
                </a>
              </li>
              <li class="social-item">
                <a href="#">
                  <svg class="icon" width="31" height="35">
                    <use href="./images/svg-icons.svg#icon-in_icon"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <p class="team-name">Steve Smith</p>
        <p class="team-position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
